<% layout("/layouts/boilerplate") %>
<body>
    <h3>Enter your listing details</h3>
    <form action="/listings" method="post">
        <input type="text" placeholder="Enter title" name="listing[title]">
        <br>
        <textarea type="text" placeholder="Enter description" name="listing[description]"> </textarea>
        <br>
        <input type="text" placeholder="Enter image URL/link" name="listing[image]">
        <br>
        <input type="number" placeholder="Enter price" name="listing[price]">
        <br>
        <input type="text" placeholder="Enter location" name="listing[location]">
        <br>
        <input type="text" placeholder="Enter country" name="listing[country]">
        <br>
        <button>Add</button>
    </form>
</body>
